In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as splt
import seaborn

In [43]:
path = "/content/drive/MyDrive/Colab Notebooks/MatchResultPrediction.csv"

In [44]:
df = pd.read_csv(path)

In [45]:
df

     H Team  A Team  FTHG  FTAG  HTGS  ATGS  HTFormPts  ATFormPts FTR
0       1.0     0.0   4.0   0.0   0.0   0.0        0.0        0.0   H
1       0.0     1.0   4.0   2.0   0.0   1.0        0.0        3.0   H
2       1.0     0.0   1.0   2.0   4.0   4.0        6.0        3.0   A
3       1.0     0.0   3.0   2.0   7.0   7.0        7.0        6.0   H
4       0.0     1.0   1.0   1.0   9.0   9.0        6.0        5.0   A
..      ...     ...   ...   ...   ...   ...        ...        ...  ..
361     1.0     0.0   3.0   0.0  35.0  29.0        8.0        6.0   H
362     0.0     1.0   4.0   3.0  33.0  22.0        8.0        4.0   H
363     0.0     1.0   2.0   0.0  35.0  15.0       10.0        2.0   H
364     0.0     1.0   4.0   1.0  38.0  18.0       10.0        3.0   H
365     1.0     0.0   2.0   0.0  28.0  42.0        7.0       12.0   H

[366 rows x 9 columns]

In [47]:
df.shape

(366, 9)

In [50]:
df.isnull().sum()

H Team       1
A Team       1
FTHG         1
FTAG         1
HTGS         1
ATGS         1
HTFormPts    1
ATFormPts    1
FTR          1
dtype: int64

In [51]:
from sklearn.preprocessing import LabelEncoder

In [52]:
df[['FTR']] = df[['FTR']].apply(LabelEncoder().fit_transform)

In [53]:
df

     H Team  A Team  FTHG  FTAG  HTGS  ATGS  HTFormPts  ATFormPts  FTR
0       1.0     0.0   4.0   0.0   0.0   0.0        0.0        0.0    1
1       0.0     1.0   4.0   2.0   0.0   1.0        0.0        3.0    1
2       1.0     0.0   1.0   2.0   4.0   4.0        6.0        3.0    0
3       1.0     0.0   3.0   2.0   7.0   7.0        7.0        6.0    1
4       0.0     1.0   1.0   1.0   9.0   9.0        6.0        5.0    0
..      ...     ...   ...   ...   ...   ...        ...        ...  ...
361     1.0     0.0   3.0   0.0  35.0  29.0        8.0        6.0    1
362     0.0     1.0   4.0   3.0  33.0  22.0        8.0        4.0    1
363     0.0     1.0   2.0   0.0  35.0  15.0       10.0        2.0    1
364     0.0     1.0   4.0   1.0  38.0  18.0       10.0        3.0    1
365     1.0     0.0   2.0   0.0  28.0  42.0        7.0       12.0    1

[366 rows x 9 columns]

In [54]:
df.isnull().sum().sum()

8

In [55]:
df.dropna(inplace = True)

In [56]:
x = df.iloc[:, :-1]

In [57]:
y= df.iloc[:, 8]

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [59]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.20, random_state=1)

In [60]:
xtrain

     H Team  A Team  FTHG  FTAG  HTGS  ATGS  HTFormPts  ATFormPts
79      1.0     0.0   0.0   2.0  30.0  76.0        7.0       10.0
228     1.0     0.0   1.0   0.0   2.0  14.0        2.0        8.0
247     0.0     1.0   0.0   1.0  36.0  47.0        5.0       10.0
82      1.0     0.0   1.0   1.0  53.0  80.0        7.0       13.0
340     0.0     1.0   4.0   2.0  47.0  28.0        6.0        3.0
..      ...     ...   ...   ...   ...   ...        ...        ...
204     1.0     0.0   2.0   3.0  15.0  37.0        5.0        9.0
256     0.0     1.0   1.0   0.0  48.0  47.0        4.0        8.0
73      1.0     0.0   0.0   2.0  29.0  57.0        7.0       15.0
236     1.0     0.0   3.0   1.0  29.0  22.0       12.0        4.0
37      1.0     0.0   3.0   0.0   0.0   0.0        0.0        0.0

[292 rows x 8 columns]

In [63]:
svc = SVC()

In [64]:
svc.fit(xtrain,ytrain)

SVC()

In [66]:
svc.score(xtest, ytest)

0.6438356164383562

In [67]:
from sklearn import metrics
from sklearn.metrics import classification_report, accuracy_score

In [69]:
svmPred = svc.predict(xtest)

In [70]:
print("Accuracy Score for SVC: ", accuracy_score(ytest, svmPred) * 100,"%")
print("Classification Report for SVC: \n", classification_report(ytest, svmPred))

Accuracy Score for SVC:  64.38356164383562 %
Classification Report for SVC:
               precision    recall  f1-score   support

           0       0.58      0.91      0.71        35
           1       0.83      0.39      0.54        38

    accuracy                           0.64        73
   macro avg       0.71      0.65      0.62        73
weighted avg       0.71      0.64      0.62        73

In [74]:
from sklearn.tree import DecisionTreeClassifier

In [75]:
tree_clf = DecisionTreeClassifier()
tree_clf.fit(xtrain, ytrain)
dtcPred = tree_clf.predict(xtest)

print("Accuracy Score for decision tree: ", accuracy_score(ytest, dtcPred) * 100,"%")
print("Classification Report for decision tree: \n", classification_report(ytest, dtcPred))

Accuracy Score for decision tree:  100.0 %
Classification Report for decision tree:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        35
           1       1.00      1.00      1.00        38

    accuracy                           1.00        73
   macro avg       1.00      1.00      1.00        73
weighted avg       1.00      1.00      1.00        73

In [77]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf = KNeighborsClassifier()
knn_clf.fit(xtrain, ytrain)
knnPred = knn_clf.predict(xtest)

print("Accuracy Score for KNN classifier: ", accuracy_score(ytest, knnPred) * 100,"%")
print("Classification Report for KNN classifier: \n", classification_report(ytest, knnPred))

Accuracy Score for KNN classifier:  71.23287671232876 %
Classification Report for KNN classifier:
               precision    recall  f1-score   support

           0       0.73      0.63      0.68        35
           1       0.70      0.79      0.74        38

    accuracy                           0.71        73
   macro avg       0.72      0.71      0.71        73
weighted avg       0.71      0.71      0.71        73

In [81]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier()
rf_clf.fit(xtrain, ytrain)
rfPred = rf_clf.predict(xtest)
print("Accuracy Score for random forest classifier: ", accuracy_score(ytrain, rfPred) * 100,"%")
print("Classification Report for random forest classifier: \n", classification_report(ytrain, rfPred))

ValueError: ignored